# Spark logs y datos
spark-logs/
spark-data/

# Datos sensibles
data/

# Docker
*.tar
*.img
docker-compose.override.yml
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
*.egg-info/

# IDEs
.idea/
.vscode/
*.iml

# Sistema
.DS_Store
Thumbs.db

# Notebooks
notebooks/sandbox/